@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #111111;
  --secondary: #34365a;
  --accent: #f1bb13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

/* section {
  overflow-x: hidden;
} */

.container {
  width: 1140px;
  margin-inline: auto;

  @media (max-width: 1200px) {
    width: 940px;
  }

  @media (max-width: 990px) {
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 540px;
  }

  @media (max-width: 576px) {
    width: 340px;
  }

  @media (max-width: 400px) {
    width: 90%;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border-radius: 50px;
  width: 192px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus-within {
    background-color: var(--accent);
  }

  a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.mainBtn {
  background-color: var(--secondary);
  border: none;
  margin-top: 1.5rem;
  transition: all 0.3s ease;

  a {
    color: white;
  }
}

p.freepik {
  font-weight: 400;
  font-style: italic;

  a {
    border-bottom: solid 1px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

header {
  width: 100%;
  padding-block: 24px;
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 64px;
  }

  nav {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;

    a {
      color: var(--secondary);
      font-size: 16px;
      font-weight: 700;
      transition: all 0.3s ease;
    }

    a:hover {
      color: var(--accent);
    }

    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      gap: 24px;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
  }
}

#hero-section {
  overflow: hidden;
  background-color: var(--accent);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  /* flex-wrap: wrap; */

  @media (max-width: 1200px) {
    padding-inline: 2rem;
    align-items: end;
  }

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 64px;
  }

  img {
    width: 800px;

    @media (max-width: 1200px) {
      width: 500px;
    }

    @media (max-width: 900px) {
      width: 100%;
    }

    @media (max-width: 700px) {
      width: 160%;
    }
  }

  div {
    max-width: 550px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    h1 {
      font-size: 19.2px;
      font-weight: 400;
      letter-spacing: 4px;
      text-transform: uppercase;
    }

    h2 {
      font-size: 48px;
      font-weight: 700;

      span {
        color: var(--secondary);
      }

      @media (max-width: 768px) {
        font-size: 32px;
      }
    }

    button:hover {
      background-color: var(--primary);
    }

    @media (max-width: 1200px) and (min-width: 900px) {
      padding-block: 1rem;
    }
  }
}

#helping {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  .discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 14px;
      flex-wrap: wrap;
    }
  }

  .container {
    width: 1140px;
    max-width: 1140px;
    .department {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .content {
        width: 50%;
        height: 100%;
        gap: 2rem;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .img1,
      .img2,
      .img3 {
        width: 50%;
        height: 363.8px;
        min-height: 363px;
        padding: 2rem;
        background-size: cover;
        background-position: center;

        @media (max-width: 1200px) {
          height: 385.4px;
        }

        @media (max-width: 990px) {
          height: 407px;
        }

        @media (max-width: 768px) {
          height: 360px;
          width: 100%;
        }

        @media (max-width: 400px) {
          height: 215px;
        }
      }
    }

    .no1 {
      .img1 {
        background-image: url(https://ammaralzaqam.github.io/Eraasoft.css-l6_successWebTask-html-css/images/help/plan.jpg);
      }

      .content {
        background-color: var(--accent);
        padding: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        h3 {
          font-size: 30px;
          font-weight: 700;
        }

        button {
          border: 2px solid var(--secondary);
          background-color: inherit;

          a {
            color: var(--secondary);
          }
        }
      }
    }

    .no2 {
      .content {
        background-color: var(--secondary);
        padding-inline: 2rem;
        padding-block: 3.675rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;

        h3 {
          font-size: 30px;
          color: white;
          font-weight: 700;
        }

        p {
          color: white;
        }

        button {
          border: 2px solid white;
          background-color: inherit;

          a {
            color: white;
          }
        }
      }

      .img2 {
        background-image: url(https://ammaralzaqam.github.io/Eraasoft.css-l6_successWebTask-html-css/images/help/man-lap.png);
      }

      @media (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }

    .no3 {
      .img3 {
        background-image: url(https://ammaralzaqam.github.io/Eraasoft.css-l6_successWebTask-html-css/images/help/meeting.jpg);
      }

      .content {
        background-color: var(--accent);
        padding-inline: 2rem;
        padding-block: 3.675rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;

        h3 {
          font-size: 30px;
          font-weight: 700;
        }

        button {
          border: 2px solid var(--secondary);
          background-color: inherit;

          a {
            color: var(--secondary);
          }
        }
      }
    }

    @media (max-width: 1200px) {
      width: 940px;
    }

    @media (max-width: 990px) {
      width: 720px;
    }

    @media (max-width: 768px) {
      width: 540px;
    }

    @media (max-width: 576px) {
      width: 340px;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }
}

#features {
  width: 100%;
  background-color: var(--secondary);

  display: flex;
  flex-direction: column;
  align-items: center;

  .top-details {
    padding-block: 80px;
    width: 1140px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      h2,
      p {
        color: white;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 32px;
        }
      }

      p {
        font-size: 20px;
        text-align: center;
        line-height: 32px;
        width: 100%;
        max-width: 760px;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;
      gap: 1rem;

      button {
        width: 250px;
        height: 55px;

        a {
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }

      .leftBtn {
        border: 2px solid white;

        a {
          color: white;
        }
      }

      .rightBtn {
        background-color: white;
        border: 2px solid white;

        a {
          color: var(--secondary);
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    @media (max-width: 1200px) {
      width: 940px;
    }

    @media (max-width: 990px) {
      width: 720px;
    }

    @media (max-width: 768px) {
      width: 540px;
    }

    @media (max-width: 576px) {
      width: 340px;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  .floating-container {
    width: 1140px;
    position: relative;
    height: 481.4px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-inline: 1rem;

    img {
      width: 837px;
      /* height: 837px; */
      position: absolute;
      left: 0;

      @media (max-width: 1200px) {
        width: 735px;
      }

      @media (max-width: 990px) {
        width: 608px;
      }

      @media (max-width: 768px) {
        width: 493px;
      }

      @media (max-width: 576px) {
        width: 311px;
      }

      @media (max-width: 400px) {
        width: 85%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 518px;
      padding: 32px;
      background-color: white;
      position: absolute;
      right: 0;
      top: 128px;

      h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 52.8px;

        @media (max-width: 768px) {
          font-size: 32px;
        }
      }

      p {
        font-size: 16px;
      }

      p,
      button a {
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      button {
        background-color: var(--secondary);
        margin-top: 0;
        &:hover {
          background-color: var(--primary);
        }
      }
      @media (max-width: 1200px) {
        width: 453px;
        top: 104px;
      }

      @media (max-width: 990px) {
        top: 368px;
      }

      @media (max-width: 768px) {
        top: 352px;
      }

      @media (max-width: 576px) {
        width: 288px;
        top: 256px;
      }

      @media (max-width: 400px) {
        width: 250px;
        top: 224px;
      }
    }

    @media (max-width: 1200px) {
      width: 940px;
    }

    @media (max-width: 990px) {
      width: 720px;
    }

    @media (max-width: 768px) {
      width: 540px;
    }

    @media (max-width: 576px) {
      width: 340px;
    }

    @media (max-width: 400px) {
      width: 90%;
    }
  }
}

#services {
  width: 1140px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 27rem;
  gap: 4rem;

  @media (max-width: 1200px) {
    width: 940px;
  }

  @media (max-width: 990px) {
    width: 720px;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    width: 540px;
  }

  @media (max-width: 576px) {
    width: 340px;
  }

  @media (max-width: 400px) {
    width: 90%;
  }

  .service {
    width: 20%;
    height: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .img-wrapper {
      position: relative;
      &::after {
        content: "";
        width: 118px;
        height: 118px;
        background-color: var(--accent);
        border-radius: 50%;
        position: absolute;
        top: -50%;
        right: -50%;
        z-index: -1;
      }
    }

    img {
      width: 96px;
      margin: auto;
    }

    h4 {
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-size: 16px;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    @media (max-width: 990px) {
      width: 45%;
    }

    @media (max-width: 768px) {
      width: 75%;
    }
  }
}

#about {
  margin-bottom: 4rem;

  .container {
    width: 1140px;
    max-width: 1140px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 3rem;

    @media (max-width: 1200px) {
      width: 940px;
    }

    @media (max-width: 990px) {
      width: 720px;
    }

    @media (max-width: 768px) {
      width: 540px;
      flex-direction: column;
    }

    @media (max-width: 576px) {
      width: 340px;
    }

    @media (max-width: 400px) {
      width: 90%;
    }

    .left-container {
      width: 50%;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      gap: 2rem;

      @media (max-width: 768px) {
        width: 100%;
      }

      .title {
        padding-inline: 2rem;
        padding-block: 4rem;
        background-color: var(--accent);
        border-radius: 0 0 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 454px;

        @media (max-width: 768px) {
          max-width: 380px;
        }

        h5 {
          font-size: 1.2rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 4px;
        }

        h2 {
          font-size: 48px;
          font-weight: 700;

          @media (max-width: 768px) {
            font-size: 32px;
          }
        }

        p {
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }

      button {
        &:hover {
          background-color: var(--primary);
        }

        a {
          font-size: 14px;
        }
      }
    }

    .right-container {
      width: 50%;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      gap: 4rem;

      @media (max-width: 768px) {
        width: 100%;
      }

      .thinking-about-us-image {
        border-radius: 50%;
        width: 255px;
        height: 255px;
      }

      .details {
        display: flex;
        justify-content: space-between;
        gap: 3rem;

        .img-container {
          background-color: var(--secondary);
          border-radius: 50%;
          width: 64px;
          height: 64px;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;

          img {
            width: 36px;
            height: 36px;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          gap: 1.5rem;
          max-width: 80%;

          h4 {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
          }

          p {
            font-size: 16px;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

#coaching {
  width: 100%;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: end;
  /* overflow-y: hidden; */

  .container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 2rem;
    /* width: 1140px;
    max-width: 1140px; */
    width: 88%;
    /* background-color: burlywood; */
    /* margin: auto; */

    @media (max-width: 1200px) {
      margin-inline: 3rem;
      width: 940px;
    }

    @media (max-width: 990px) {
      width: 720px;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      width: 540px;
    }

    @media (max-width: 576px) {
      width: 340px;
    }

    @media (max-width: 400px) {
      width: 90%;
      margin: auto;
    }

    .content {
      padding-block: 80px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 2rem;
      width: 44%;

      @media (max-width: 990px) {
        width: 100%;
      }

      h5 {
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 32px;
        }
      }

      p.disc {
        font-size: 20px;
        line-height: 32px;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      p.freepik {
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      button {
        margin-top: 0;

        a {
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }

      button:hover {
        background-color: var(--primary);
      }
    }

    .img-container {
      height: 630px;
      display: flex;
      align-items: end;
      justify-content: end;
      width: 51%;

      @media (max-width: 990px) {
        width: 100%;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
/* 
#consulting {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  border: 1px solid black;
  
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 990px) {
      flex-direction: column;
    }

    @media (max-width: 400px) {
      text-align: center;
    }

    .left-container {
      width: 50%;

      @media (max-width: 990px) {
        width: 100%;
      }

      .top-left {
        background-image: url("https://ammaralzaqam.github.io/Eraasoft.css-l6_successWebTask-html-css/images/consulting/consult.jpg");
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 64px;
        height: 504px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1200px) {
          height: 356.825px;
        }

        @media (max-width: 990px) {
          height: 444.775px;
        }

        @media (max-width: 567px) {
          height: 410.875px;
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #00000070;
          z-index: 5;
          top: 0;
          left: 0;
        }

        h2 {
          z-index: 100;
          font-size: 48px;
          font-weight: 700;
          color: white;
          position: relative;

          @media (max-width: 768px) {
            font-size: 32px;
          }
        }

        .row-icon-wrapper {
          width: fit-content;
          padding: 2px;
          border: solid 4px white;
          border-radius: 50%;
          position: relative;
          z-index: 100;
          margin-top: 1rem;
          width: 64px;
          height: 64px;

          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: white;
            font-size: 40px;
            font-weight: 900;
          }
        }
      }

      .bottom-left {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 576px) {
          flex-direction: column;
        }

        .left-left-img {
          width: 47%;
          height: 277px;
          background-image: url("https://ammaralzaqam.github.io/Eraasoft.css-l6_successWebTask-html-css/images/consulting/man-on-sofa.jpg");
          background-size: cover;
          background-position: center;

          @media (max-width: 1200px) {
            height: 250.5px;
          }

          @media (max-width: 990px) {
            height: 276.8px;
          }

          @media (max-width: 990px) {
            height: 262px;
          }

          @media (max-width: 576px) {
            height: 400.6px;
            width: 100%;
          }
        }

        .left-right-content {
          width: 53.5%;
          padding-block: 48px;
          padding-inline: 32px;
          background-color: var(--accent);
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 1.5rem;

          @media (min-width: 990px) and (max-width: 1200px) {
            gap: 0;
          }

          @media (max-width: 567px) {
            width: 100%;
          }

          h3 {
            font-size: 30px;
            font-weight: 700;

            @media (max-width: 768px) {
              font-size: 24px;
            }
          }

          p {
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }

          .social-media-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            i {
              font-size: 26px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .right-container {
      width: 50%;

      @media (max-width: 990px) {
        width: 100%;
      }

      .top-right {
        background-color: var(--secondary);
        padding-block: 48px;
        padding-inline: 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        @media (min-width: 990px) and (max-width: 1200px) {
          gap: 0;
        }

        h4 {
          font-size: 30px;
          font-weight: 700;
          color: white;

          @media (max-width: 768px) {
            font-size: 24px;
          }
        }

        p {
          color: white;
          font-size: 16px;
          font-style: normal;

          @media (max-width: 768px) {
            font-size: 14px;
          }

          a {
            color: white;
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }

        button {
          border: 2px solid white;
          background-color: inherit;
          margin-top: 0;

          @media (min-width: 990px) and (max-width: 1200px) {
            height: fit-content;
          }

          a {
            @media (max-width: 768px) {
              font-size: 14px;
            }
          }

          &:hover {
            background-color: var(--primary);
          }
        }
      }

      .bottom-right {
        background: url("https://ammaralzaqam.github.io/Eraasoft.css-l6_successWebTask-html-css/images/consulting/people.jpg");
        width: 100%;
        height: 370px;
        background-size: cover;
        background-position: center;

        @media (max-width: 1200px) {
          height: 299px;
        }
      }
    }

    .top-img {
      position: absolute;
      z-index: -1;
      width: 500px;
      top: -104px;
      left: -72px;

      @media (max-width: 576px) {
        width: 400px;
      }
    }

    .bottom-img {
      position: absolute;
      z-index: -1;
      width: 500px;
      bottom: -48px;
      right: -56px;

      @media (max-width: 576px) {
        width: 400px;
      }
    }
  }
} */

#consulting {
  padding-block: 170px;

  .container {
    position: relative;
    display: flex;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .left {
      width: 50%;

      @media (max-width: 991px) {
        width: 100%;
      }

      .top {
        width: 100%;
        padding: 130px 64px;
        background:
          linear-gradient(rgba(0, 0, 0, 0.458), rgba(0, 0, 0, 0.458)),
          url(./images/consult.jpg) center/cover;

        h2 {
          color: white;
          font-size: 48px;
          font-weight: 700;
        }

        .icon-wrapper {
          width: 64px;
          height: 64px;
          margin-top: 1rem;
          border-radius: 50%;
          border: 4px solid white;

          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 40px;
            color: white;
          }
        }
      }

      .lower {
        width: 100%;
        display: flex;

        @media (max-width: 991px) {
          flex-direction: column;
        }

        .lower-left {
          width: 50%;
          background: url(./images/man-on-sofa.jpg) center/cover;

          @media (max-width: 991px) {
            width: 100%;
            height: 340px;
          }
        }

        .lower-right {
          width: 50%;
          background-color: var(--accent);
          padding: 48px 32px;

          display: flex;
          flex-direction: column;
          gap: 20px;

          @media (max-width: 991px) {
            width: 100%;
          }

          h3 {
            font-size: 30px;
            font-weight: 700;
          }

          .media {
            display: flex;
            gap: 10px;

            i {
              font-size: 26px;
            }
          }
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: column;

      @media (max-width: 991px) {
        width: 100%;
      }

      .top {
        width: 100%;
        background-color: var(--secondary);
        padding: 48px 56px;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
          font-size: 30px;
          font-weight: 700;
          color: white;
        }

        p {
          color: white;
        }

        button {
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
          background-color: transparent;
          border-radius: 50px;
          border: 2px solid white;
          color: white;
        }
      }

      .lower {
        flex-grow: 1;
        background: url(./images/people.jpg) center/cover;

        @media (max-width: 991px) {
          height: 340px;
        }
      }
    }

    .vector-left {
      position: absolute;
      z-index: -1;
      top: -100px;
      left: -50px;

      @media (max-width: 767px) {
        width: 350px;
        top: -60px;
        left: -60px;
      }
    }

    .vector-right {
      position: absolute;
      z-index: -1;
      bottom: -50px;
      right: -50px;

      @media (max-width: 767px) {
        width: 350px;
        bottom: -60px;
        right: -60px;
      }
    }
  }
}
#triple-sec {
  background-color: var(--secondary);
  margin-top: 5rem;
  #team {
    width: 100%;
    background-color: var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      /* height: 815px; */
      object-fit: cover;
    }

    .floating-content {
      /* width: 48%; */
      width: 727px;
      padding-inline: 45px;
      padding-block: 40px 64px;
      background-color: white;
      /* margin-top: -150px; */
      transform: translate(0, -31%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin-inline: auto;

      @media (max-width: 990px) {
        width: 595px;
        transform: translate(0, -20%);
      }

      @media (max-width: 768px) {
        width: 463px;
      }

      @media (max-width: 576px) {
        width: 340px;
        transform: translate(0, -12%);
      }

      h2 {
        font-size: 48px;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 32px;
        }
      }

      p.details {
        font-size: 20px;
        text-align: center;
        line-height: 32px;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      button {
        margin-top: 0;

        a {
          font-size: 16px;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  #brilliant {
    background-color: var(--secondary);
    width: 100%;
    margin-inline: auto;
    /* padding-inline: 12.25%;
  padding-block: 80px; */

    .container {
      position: relative;
      width: 1140px;
      max-width: 1140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 1200px) {
        width: 940px;
      }

      @media (max-width: 990px) {
        width: 720px;
      }

      @media (max-width: 768px) {
        width: 540px;
      }

      @media (max-width: 576px) {
        width: 340px;
      }

      @media (max-width: 400px) {
        width: 90%;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;
        color: white;
        margin-bottom: 48px;

        @media (max-width: 768px) {
          font-size: 32px;
        }
      }

      .boxes-container {
        width: 90%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @media (max-width: 990px) {
          flex-wrap: wrap;
        }

        .box {
          width: 25%;
          background-color: white;
          padding-block: 4rem;
          z-index: 3;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 24px;

          @media (max-width: 990px) {
            width: 45%;
            padding-block: 2rem;
          }

          @media (max-width: 576px) {
            width: 99%;
            padding-block: 1rem;
          }

          h6 {
            font-size: 16px;
            font-weight: 700;
            color: #666666;
            letter-spacing: 3px;
            text-transform: uppercase;
          }

          data {
            font-size: 72px;
            font-weight: 400;
            color: var(--accent);
            font-family: "Montserrat", "Open Sans", sans-serif;
          }
        }
      }

      img {
        height: 100dvh;
        width: 100%;
        object-fit: cover;
        margin-top: -100px;
      }

      p {
        color: white;
        font-style: normal;
        margin-top: 2rem;

        a {
          color: white;
        }
      }
    }
  }

  #contact {
    width: 100%;
    padding-block: 80px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 4rem;
      width: 1140px;
      max-width: 1140px;
      margin-inline: 74px;

      @media (max-width: 1200px) {
        width: 940px;
      }

      @media (max-width: 990px) {
        width: 720px;
        flex-wrap: wrap;
      }

      @media (max-width: 768px) {
        width: 540px;
      }

      @media (max-width: 576px) {
        width: 340px;
      }

      @media (max-width: 400px) {
        width: 90%;
      }

      * {
        color: white;
      }

      p {
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      div,
      form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 16px;
      }

      .left {
        width: 21%;

        @media (max-width: 990px) {
          width: 45%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        h3 {
          font-size: 36px;
          font-weight: 700;
        }

        h6 {
          font-size: 18px;
          font-style: italic;
          font-weight: 700;
          letter-spacing: 4px;
          line-height: 32.4px;
          text-transform: uppercase;
        }

        p {
          line-height: 32px;
        }

        .social-media-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          gap: 10px;

          .i-wrapper {
            width: 32px;
            height: 32px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 50%;

            i {
              font-size: 16px;
              font-weight: 400;
              color: var(--secondary);
            }

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .center {
        width: 21%;

        @media (max-width: 990px) {
          width: 45%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        h3 {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 4px;
          text-transform: uppercase;
        }

        p {
          line-height: 25.6px;
        }
      }

      form {
        width: 25%;
        align-items: center;

        @media (max-width: 990px) {
          width: 50%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }

        * {
          width: 85%;
        }

        input,
        textarea {
          padding: 10px 12px;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          color: var(--primary);
        }

        textarea {
          max-width: 100%;
        }

        button {
          background-color: var(--accent);
          margin-top: 0;
          height: 45px;
          &:hover {
            background-color: var(--primary);

            a {
              color: white;
            }
          }

          a {
            color: var(--primary);
            font-weight: 700;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 30dvh;
  background-color: #333333;
  padding: 3rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  * {
    color: white;
  }

  p {
    font-size: 14px;
  }

  span {
    font-size: 13px;

    a {
      color: #cbcde5;
      text-decoration-color: #cbcde5;
      text-decoration: underline;
    }
  }
}
